<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>DreamyReefs</title>

    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="~/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/fonts/boxicons.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css" />
    <link rel="stylesheet" href="~/css/Cards.css" />
    <link rel="stylesheet" href="~/css/fancy-file-style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css">


    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/lib/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/lib/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/js/helpers.js"></script>
    <script src="~/js/config.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body style="background: linear-gradient(to bottom, rgba(102, 204, 255, 0.3), rgba(0, 51, 102, 0.8));">
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a asp-controller="Home" asp-action="Index" class="app-brand-link">
                        <h3><span class="app-brand-text demo menu-text fw-bolder ms-2">Dreamy Reefs</span></h3>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    <li class="menu-item">
                        <a asp-controller="Dashboard" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Dashboard</div>
                        </a>
                    </li>
                    <!-- Components -->
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Módulos</span></li>
                    <!-- Cards -->
                    <li class="menu-item">
                        <a id="reservaciones" asp-controller="Reservacion" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-collection"></i>
                            <div data-i18n="Basic">Reservaciones</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a id="transportes" asp-controller="Transporte" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-collection"></i>
                            <div data-i18n="Basic">Transportes</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a id="empresas" asp-controller="Empresa" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-collection"></i>
                            <div data-i18n="Basic">Empresas</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a id="reviews" asp-controller="Review" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-collection"></i>
                            <div data-i18n="Basic">Reviews</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a id="tours" asp-controller="Tour" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-collection"></i>
                            <div data-i18n="Basic">Tours</div>
                        </a>
                    </li>
                    @*<li class="menu-item">
                    <a id="imagenes" asp-controller="Imagen" asp-action="Index" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-collection"></i>
                    <div data-i18n="Basic">Imagenes</div>
                    </a>
                    </li>*@
                    <li class="menu-item">
                        <a id="usuario" asp-controller="Usuario" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-collection"></i>
                            <div data-i18n="Basic">Usuarios</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" onclick="cerrarSesion()" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-collection"></i>
                            <div data-i18n="Basic">Cerrar sesión</div>
                        </a>
                    </li>
                </ul>
                <div class="menu-toggle">
                    <span class="menu-toggle-icon"></span>
                </div>
            </aside>
            @RenderBody()
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <div id="loader" style="display: none;">
        <div class="loader-content">
            <div class="loader-spinner">
                <img src="~/images/DreamyReefs.gif" alt="Spinner GIF">
            </div>
        </div>
    </div>

    <!-- Tu código HTML para mostrar el gráfico -->

    <script type="text/javascript">
        // Cargar la biblioteca de Google Charts
        google.charts.load('current', { 'packages': ['corechart'] });

        // Callback para dibujar el gráfico cuando se cargue la biblioteca
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Obtener los datos pasados desde el controlador usando ViewBag
            var rawData = @Html.Raw(Json.Serialize(ViewBag.ChartData));

            // Convertir los datos de JSON a un array de arrays
            var dataArray = [['Tour', 'Total']]; // Encabezado de las columnas

            for (var i = 0; i < rawData.length; i++) {
                dataArray.push([rawData[i].tour, rawData[i].total]);
            }

            // Convertir el array de arrays en un objeto DataTable de Google Charts
            var data = google.visualization.arrayToDataTable(dataArray);

            // Aplicar formato de dinero a la columna "Total" en el DataTable
            var formatter = new google.visualization.NumberFormat({
                prefix: '$', // Símbolo "$" antes del valor
                fractionDigits: 0 // Dos decimales
            });
            formatter.format(data, 1);

            if (data.getNumberOfRows() === 0) {
                // Mostrar un mensaje personalizado en lugar del gráfico
                document.getElementById('chart_div').innerText = "No hay datos disponibles para mostrar el gráfico.";
                return;
            }

            // Configuración del gráfico de barras horizontales
            var options = {
                title: 'TOURS MAS SOLICITADOS',
                is3D: true,
                animation: {
                    duration: 1000,
                    easing: 'out',
                    startup: true
                },
                backgroundColor: 'whitesmoke',
                chartArea: { left: 150, right: 50, top: 80, bottom: 80 },
                annotations: {
                    textStyle: {
                        fontSize: 12,
                        bold: true,
                        color: 'black',
                        auraColor: 'none'
                    },
                },
                slices: {} // Dejamos inicialmente vacío, lo llenaremos más adelante
            };

            // Generar colores pastel y asignarlos a las barras
            var numRows = data.getNumberOfRows();
            for (var i = 0; i < numRows; i++) {
                options.slices[i] = { color: getRandomPastelColor() };
            }

            // Dibujar el gráfico de barras horizontales
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        // Función para generar colores pastel aleatorios
        function getRandomPastelColor() {
            var min = 100; // Valor mínimo para los componentes RGB
            var max = 230; // Valor máximo para los componentes RGB
            var r = Math.floor(Math.random() * (max - min + 1) + min);
            var g = Math.floor(Math.random() * (max - min + 1) + min);
            var b = Math.floor(Math.random() * (max - min + 1) + min);
            return 'rgb(' + r + ',' + g + ',' + b + ')';
        }
    </script>

    <script>

        var menuToggle = document.querySelector('.menu-toggle');
        var menu = document.querySelector('#layout-menu');

        menuToggle.addEventListener('click', function () {
            menu.classList.toggle('menu-open');
        });

        // Resaltar enlace activo
        var currentUrl = window.location.href;
        var menuLinks = document.querySelectorAll('.menu-link');

        menuLinks.forEach(function (link) {
            if (link.href === currentUrl) {
                link.parentElement.classList.add('active');
            } else {
                link.parentElement.classList.remove('active');
            }
        });

        //document.getElementById('reservaciones').addEventListener('click', function () {
        //    event.preventDefault();

        //    var loader = document.getElementById('loader');
        //    loader.style.display = 'flex';
        //    loader.classList.add('fade-in');

        //    var duracionLoader = 1400;

        //    // Cargar la página después de que el loader haya aparecido
        //    setTimeout(function () {
        //        window.location.href = '/Reservacion';
        //    }, duracionLoader);

        //    // Ocultar el loader después de que la página se haya cargado completamente
        //    window.addEventListener('load', function () {
        //        loader.classList.remove('fade-in');
        //        loader.classList.add('fade-out');

        //        setTimeout(function () {
        //            loader.style.display = 'none';
        //            loader.classList.remove('fade-out');
        //        }, 300); // Ajusta la duración de la animación de salida aquí
        //    });
        //});

        //document.getElementById('transportes').addEventListener('click', function () {
        //    event.preventDefault();

        //    var loader = document.getElementById('loader');
        //    loader.style.display = 'flex';
        //    loader.classList.add('fade-in');

        //    var duracionLoader = 2000;

        //    // Cargar la página después de que el loader haya aparecido
        //    setTimeout(function () {
        //        window.location.href = '/Transporte';
        //    }, duracionLoader);

        //    // Ocultar el loader después de que la página se haya cargado completamente
        //    window.addEventListener('load', function () {
        //        loader.classList.remove('fade-in');
        //        loader.classList.add('fade-out');

        //        setTimeout(function () {
        //            loader.style.display = 'none';
        //            loader.classList.remove('fade-out');
        //        }, 300); // Ajusta la duración de la animación de salida aquí
        //    });
        //});

        //document.getElementById('empresas').addEventListener('click', function () {
        //    event.preventDefault();

        //    var loader = document.getElementById('loader');
        //    loader.style.display = 'flex';
        //    loader.classList.add('fade-in');

        //    var duracionLoader = 2000;

        //    // Cargar la página después de que el loader haya aparecido
        //    setTimeout(function () {
        //        window.location.href = '/Empresa';
        //    }, duracionLoader);

        //    // Ocultar el loader después de que la página se haya cargado completamente
        //    window.addEventListener('load', function () {
        //        loader.classList.remove('fade-in');
        //        loader.classList.add('fade-out');

        //        setTimeout(function () {
        //            loader.style.display = 'none';
        //            loader.classList.remove('fade-out');
        //        }, 300); // Ajusta la duración de la animación de salida aquí
        //    });
        //});

        //document.getElementById('reviews').addEventListener('click', function () {
        //    event.preventDefault();

        //    var loader = document.getElementById('loader');
        //    loader.style.display = 'flex';
        //    loader.classList.add('fade-in');

        //    var duracionLoader = 2000;

        //    // Cargar la página después de que el loader haya aparecido
        //    setTimeout(function () {
        //        window.location.href = '/Review';
        //    }, duracionLoader);

        //    // Ocultar el loader después de que la página se haya cargado completamente
        //    window.addEventListener('load', function () {
        //        loader.classList.remove('fade-in');
        //        loader.classList.add('fade-out');

        //        setTimeout(function () {
        //            loader.style.display = 'none';
        //            loader.classList.remove('fade-out');
        //        }, 300); // Ajusta la duración de la animación de salida aquí
        //    });
        //});

        //document.getElementById('tours').addEventListener('click', function () {
        //    event.preventDefault();

        //    var loader = document.getElementById('loader');
        //    loader.style.display = 'flex';
        //    loader.classList.add('fade-in');

        //    var duracionLoader = 2000;

        //    // Cargar la página después de que el loader haya aparecido
        //    setTimeout(function () {
        //        window.location.href = '/Tour';
        //    }, duracionLoader);

        //    // Ocultar el loader después de que la página se haya cargado completamente
        //    window.addEventListener('load', function () {
        //        loader.classList.remove('fade-in');
        //        loader.classList.add('fade-out');

        //        setTimeout(function () {
        //            loader.style.display = 'none';
        //            loader.classList.remove('fade-out');
        //        }, 300); // Ajusta la duración de la animación de salida aquí
        //    });
        //});

        ////document.getElementById('imagenes').addEventListener('click', function () {
        ////    event.preventDefault();

        ////    var loader = document.getElementById('loader');
        ////    loader.style.display = 'flex';
        ////    loader.classList.add('fade-in');

        ////    var duracionLoader = 4000;

        ////    // Cargar la página después de que el loader haya aparecido
        ////    setTimeout(function () {
        ////        window.location.href = '/Imagen';
        ////    }, duracionLoader);

        ////    // Ocultar el loader después de que la página se haya cargado completamente
        ////    window.addEventListener('load', function () {
        ////        loader.classList.remove('fade-in');
        ////        loader.classList.add('fade-out');

        ////        setTimeout(function () {
        ////            loader.style.display = 'none';
        ////            loader.classList.remove('fade-out');
        ////        }, 300); // Ajusta la duración de la animación de salida aquí
        ////    });
        ////});

        //document.getElementById('usuario').addEventListener('click', function () {
        //    event.preventDefault();

        //    var loader = document.getElementById('loader');
        //    loader.style.display = 'flex';
        //    loader.classList.add('fade-in');

        //    var duracionLoader = 2000;

        //    // Cargar la página después de que el loader haya aparecido
        //    setTimeout(function () {
        //        window.location.href = '/Usuario';
        //    }, duracionLoader);

        //    // Ocultar el loader después de que la página se haya cargado completamente
        //    window.addEventListener('load', function () {
        //        loader.classList.remove('fade-in');
        //        loader.classList.add('fade-out');

        //        setTimeout(function () {
        //            loader.style.display = 'none';
        //            loader.classList.remove('fade-out');
        //        }, 300); // Ajusta la duración de la animación de salida aquí
        //    });
        //});

        function registrosCreados() {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                swal.fire({
                    title: "Éxito",
                    text: successMessage,
                    icon: "success",
                    showConfirmButton: false,
                    timer: 2600,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });
            }
        }

        // Llama a la función registrosCreados cuando se cargue la página
        window.onload = registrosCreados;

        function eliminarUsuario(id) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Una vez eliminado, no podrás recuperar este registro.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Realiza una solicitud AJAX para eliminar el registro
                    $.ajax({
                        url: '@Url.Action("Eliminar", "Usuario")', // Reemplaza "TuControlador" con el nombre de tu controlador
                        type: 'POST',
                        data: { id: id },
                        success: function () {
                            swal.fire({
                                title: "Éxito",
                                text: "El registro se ha eliminado correctamente.",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading();
                                }
                            }).then(function () {
                                location.reload(); // Actualiza la página después de eliminar el registro
                            });
                        },
                        error: function () {
                            swal.fire("Error", "Ha ocurrido un error al eliminar el registro.", "error");
                        }
                    });
                }
            });
        }

        function eliminarTransportes(id) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Una vez eliminado, no podrás recuperar este registro.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Realiza una solicitud AJAX para eliminar el registro
                    $.ajax({
                        url: '@Url.Action("Eliminar", "Transporte")', // Reemplaza "TuControlador" con el nombre de tu controlador
                        type: 'POST',
                        data: { id: id },
                        success: function () {
                            swal.fire({
                                title: "Éxito",
                                text: "El registro se ha eliminado correctamente.",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading();
                                }
                            }).then(function () {
                                location.reload(); // Actualiza la página después de eliminar el registro
                            });
                        },
                        error: function () {
                            swal.fire("Error", "Ha ocurrido un error al eliminar el registro.", "error");
                        }
                    });
                }
            });
        }

        function eliminarTours(id) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Una vez eliminado, no podrás recuperar este registro.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Realiza una solicitud AJAX para eliminar el registro
                    $.ajax({
                        url: '@Url.Action("Eliminar", "Tour")', // Reemplaza "TuControlador" con el nombre de tu controlador
                        type: 'POST',
                        data: { id: id },
                        success: function () {
                            swal.fire({
                                title: "Éxito",
                                text: "El registro se ha eliminado correctamente.",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading();
                                }
                            }).then(function () {
                                location.reload(); // Actualiza la página después de eliminar el registro
                            });
                        },
                        error: function () {
                            swal.fire("Error", "Ha ocurrido un error al eliminar el registro.", "error");
                        }
                    });
                }
            });
        }

        function eliminarReviews(id) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Una vez eliminado, no podrás recuperar este registro.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Realiza una solicitud AJAX para eliminar el registro
                    $.ajax({
                        url: '@Url.Action("Eliminar", "Review")', // Reemplaza "TuControlador" con el nombre de tu controlador
                        type: 'POST',
                        data: { id: id },
                        success: function () {
                            swal.fire({
                                title: "Éxito",
                                text: "El registro se ha eliminado correctamente.",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading();
                                }
                            }).then(function () {
                                location.reload(); // Actualiza la página después de eliminar el registro
                            });
                        },
                        error: function () {
                            swal.fire("Error", "Ha ocurrido un error al eliminar el registro.", "error");
                        }
                    });
                }
            });
        }

        function eliminarReservaciones(id) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Una vez eliminado, no podrás recuperar este registro.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Realiza una solicitud AJAX para eliminar el registro
                    $.ajax({
                        url: '@Url.Action("Eliminar", "Reservacion")', // Reemplaza "TuControlador" con el nombre de tu controlador
                        type: 'POST',
                        data: { id: id },
                        success: function () {
                            swal.fire({
                                title: "Éxito",
                                text: "El registro se ha eliminado correctamente.",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading();
                                }
                            }).then(function () {
                                location.reload(); // Actualiza la página después de eliminar el registro
                            });
                        },
                        error: function () {
                            swal.fire("Error", "Ha ocurrido un error al eliminar el registro.", "error");
                        }
                    });
                }
            });
        }

        function eliminarImagenes(id) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Una vez eliminado, no podrás recuperar este registro.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Realiza una solicitud AJAX para eliminar el registro
                    $.ajax({
                        url: '@Url.Action("Eliminar", "Imagen")', // Reemplaza "TuControlador" con el nombre de tu controlador
                        type: 'POST',
                        data: { id: id },
                        success: function () {
                            swal.fire({
                                title: "Éxito",
                                text: "El registro se ha eliminado correctamente.",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading();
                                }
                            }).then(function () {
                                location.reload(); // Actualiza la página después de eliminar el registro
                            });
                        },
                        error: function () {
                            swal.fire("Error", "Ha ocurrido un error al eliminar el registro.", "error");
                        }
                    });
                }
            });
        }

        function eliminarEmpresas(id) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Una vez eliminado, no podrás recuperar este registro.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Realiza una solicitud AJAX para eliminar el registro
                    $.ajax({
                        url: '@Url.Action("Eliminar", "Empresa")', // Reemplaza "TuControlador" con el nombre de tu controlador
                        type: 'POST',
                        data: { id: id },
                        success: function () {
                            swal.fire({
                                title: "Éxito",
                                text: "El registro se ha eliminado correctamente.",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading();
                                }
                            }).then(function () {
                                location.reload(); // Actualiza la página después de eliminar el registro
                            });
                        },
                        error: function () {
                            swal.fire("Error", "Ha ocurrido un error al eliminar el registro.", "error");
                        }
                    });
                }
            })
        }

        function cerrarSesion() {
            Swal.fire({
                title: 'Cerrando sesión',
                html: 'Un momento por favor...',
                timer: 2000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading();

                    // Realizar la solicitud AJAX para cerrar sesión
                    $.ajax({
                        url: '@Url.Action("Salir", "Dashboard")',
                        type: 'POST',
                        error: function () {
                            // Mostrar un mensaje de error si ocurrió un problema durante el cierre de sesión
                            Swal.fire('Error', 'Ocurrió un error al cerrar sesión', 'error');
                        }
                    });
                },
                willClose: () => {
                    window.location.href = '/Login/Login'; // Redireccionar después de cerrar sesión una vez que el temporizador de Swal haya terminado
                }
            });
        }


    </script>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const files = document.querySelectorAll('.fancy-file');
            Array.from(files).forEach(f => {
                const span = f.nextElementSibling.querySelector('span');

                // Muestra el nombre del archivo actual cuando se carga la página
                span.innerHTML = f.value || 'Ningún archivo seleccionado';

                f.addEventListener('change', e => {
                    // Actualiza el nombre del archivo cuando se selecciona un archivo nuevo
                    span.innerHTML = e.target.files[0]?.name || 'Ningún archivo seleccionado';
                });
            });
        });
    </script>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/popper/popper.js"></script>
    <script src="~/js/bootstrap_sneat.js"></script>
    <script src="~/lib/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/lib/apex-charts/apexcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Main JS -->
    <script src="~/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/js/dashboards-analytics.js"></script>
</body>

</html>