@{    
    ViewData["Title"] = "Reviews";
    Layout = "_LayoutSitioGestion";
    List<Review> listReviews = Model;
}

@if (Model == null || Model.Count == 0)
{
    <div class="layout-page">
        <br />
        <br />
        <div class="row justify-content-center">
            
            <div class="col-md-8 ">
                <div class="card">
                    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">No hay Reviews para mostrar</h1>                  
                </div>
            </div>
        </div>
    </div>
}
else
{
<div class="layout-page">
    <br />
    <br />
    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Reviews</h1>
    <div class="ms-4 me-4 mt-4 mb-4">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            @foreach (var reviews in Model)
            {
            <div class="col-sm-10 col-md-8 col-lg-6">
                <div class="card m-2">
                    <div class="card-body">
                        <div>
                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;" hidden>TourID:</label>
                                <h6 class="card-title" style="display: inline-block;" hidden>@reviews.IDReviews</h6>
                            </div>

                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Nombre del Tours:</label>
                                <h6 class="card-title" style="display: inline-block;">@ViewBag.Tours[reviews.TourID]</h6>
                            </div>

                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Comentario:</label>
                                <h6 class="card-title" style="text-align: justify;">@reviews.Comentario</h6>
                            </div>

                        </div>

                        <div class="d-flex justify-content-end">
                            <a type="button" class="btn btn-warning text-white btn-modify" asp-action="Actualizar" asp-route-id="@reviews.IDReviews">Modificar</a>
                                &nbsp;
                            <a type="button" class="btn btn-danger text-white btn-delete" asp-action="Eliminar" asp-route-id="@reviews.IDReviews">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>      
            }   
        </div>
    </div>
</div>
}
