@model DreamyReefs.Models.Tours
@{
    ViewData["Title"] = "Tours";
    Layout = "_LayoutSitioGestion";
}

<div class="layout-page">
    <br />
    <br />
    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Actualizar Tour</h1>
    <div class="ms-4 me-4 mt-4 mb-4">
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                <div class="col">
                    <div class="card m-2" style="background-color: whitesmoke;border: 3px solid gray;">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(40, 180, 99);"></h6>
                            </div>
                            <div>
                                <form asp-action="Actualizar" method="post" enctype="multipart/form-data">
                                    <div>
                                        <label asp-for="IDTours" hidden></label>
                                        <input asp-for="IDTours" class="form-control" hidden />
                                    </div>
                                    <div>
                                        <img src="data:image;base64,@ViewBag.img" alt="" style="border-radius: 15px;" />
                                    </div>

                                    <div style="padding-top: 2px;">
                                        <input type="file" name="ImagenBase64" id="archivo"
                                            placeholder="Seleccione un archivo" class="fancy-file" accept="image/*"
                                            value="@ViewBag.img">
                                        <label for="archivo">
                                            <span class="fancy-file__fancy-file-name">
                                                <span>@(ViewBag.img ?? "Ningún archivo seleccionado")</span>
                                            </span>
                                            <span class="fancy-file__fancy-file-button">Buscar archivo</span>
                                        </label>
                                    </div>


                                    &ensp;
                                    <div>
                                        <label asp-for="Nombre"></label>
                                        <input asp-for="Nombre" placeholder="Nombre del Tour" autocomplete="off"
                                            class="form-control" />
                                        <span asp-validation-for="Nombre" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Itinerario" class="form-label"></label>
                                        <textarea asp-for="Itinerario" placeholder="Itinerario del tour"
                                            class="form-control" id="ItinerarioTextarea"
                                            style="text-align: justify;"></textarea>
                                        <span asp-validation-for="Itinerario" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Precio" class="form-label"></label>
                                        <input asp-for="Precio" placeholder="Precio del tour" class="form-control" />
                                        <span asp-validation-for="Precio" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Descripcion" class="form-label"></label>
                                        <textarea asp-for="Descripcion" placeholder="Descripcion del tour"
                                            class="form-control" id="comentarioTextarea"
                                            style="text-align: justify;"></textarea>
                                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Disponibilidad" class="form-label"></label>
                                        <select asp-for="Disponibilidad" class="form-control">
                                            <option>Mañana</option>
                                            <option>Tarde</option>
                                        </select>
                                        <span asp-validation-for="Disponibilidad" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Idioma"></label>
                                        <input asp-for="Idioma" placeholder="Idioma del Tour" class="form-control" />
                                        <span asp-validation-for="Idioma" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Categoria1" class="form-label">Categoría 1</label>
                                        <select asp-for="Categoria1" class="form-control">
                                            @foreach (var categoria in ViewBag.Categorias)
                                            {
                                                <option value="@categoria.IDCategorias">@categoria.NombreCategoria</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Categoria1" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Categoria2" class="form-label">Categoría 2</label>
                                        <select asp-for="Categoria2" class="form-control">
                                            @foreach (var categoria in ViewBag.Categorias)
                                            {
                                                <option value="@categoria.IDCategorias">@categoria.NombreCategoria</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Categoria2" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Categoria3" class="form-label">Categoría 3</label>
                                        <select asp-for="Categoria3" class="form-control">
                                            @foreach (var categoria in ViewBag.Categorias)
                                            {
                                                <option value="@categoria.IDCategorias">@categoria.NombreCategoria</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Categoria3" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Categoria4" class="form-label">Categoría 4</label>
                                        <select asp-for="Categoria4" class="form-control">
                                            @foreach (var categoria in ViewBag.Categorias)
                                            {
                                                <option value="@categoria.IDCategorias">@categoria.NombreCategoria</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Categoria4" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Caracteristica1" class="form-label">Característica 1</label>
                                        <select asp-for="Caracteristica1" class="form-control">
                                            @foreach (var caracteristica in ViewBag.Caracteristicas)
                                            {
                                                <option value="@caracteristica.IDCaracteristicas">
                                                    @caracteristica.NombreCaracteristica</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Caracteristica1" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Caracteristica2" class="form-label">Característica 2</label>
                                        <select asp-for="Caracteristica2" class="form-control">
                                            @foreach (var caracteristica in ViewBag.Caracteristicas)
                                            {
                                                <option value="@caracteristica.IDCaracteristicas">
                                                    @caracteristica.NombreCaracteristica</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Caracteristica2" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Caracteristica3" class="form-label">Característica 3</label>
                                        <select asp-for="Caracteristica3" class="form-control">
                                            @foreach (var caracteristica in ViewBag.Caracteristicas)
                                            {
                                                <option value="@caracteristica.IDCaracteristicas">
                                                    @caracteristica.NombreCaracteristica</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Caracteristica3" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Estatus" class="form-label">Estatus</label>
                                        <select asp-for="Estatus" class="form-control">
                                            <option>Activo</option>
                                            <option>Inactivo</option>
                                        </select>
                                        <span asp-validation-for="Estatus" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="PrecioAdulto" class="form-label"></label>
                                        <input asp-for="PrecioAdulto" placeholder="Precio adulto del Tour"
                                            class="form-control" />
                                        <span asp-validation-for="PrecioAdulto" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="PrecioInfantes" class="form-label"></label>
                                        <input asp-for="PrecioInfantes" placeholder="Precio infante del Tour"
                                            class="form-control" />
                                        <span asp-validation-for="PrecioInfantes" class="text-danger"></span>
                                    </div>
                                    &ensp;
                                    <div class="d-flex justify-content-end">
                                        <input type="submit" value="Actualizar tour" class="btn btn-warning btn-md" />
                                        &ensp;
                                        <a asp-action="Index" class="btn btn-primary btn-md">Volver al listado</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const textarea = document.getElementById('ItinerarioTextarea');
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
    });

    document.getElementById('ItinerarioTextarea').addEventListener('input', function () {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    });
</script>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const textarea = document.getElementById('comentarioTextarea');
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
    });

    document.getElementById('comentarioTextarea').addEventListener('input', function () {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    });
</script>