@model DreamyReefs.Models.Tours
@{
    ViewData["Title"] = "Tours";
    Layout = "_LayoutSitioGestion";
}

<div class="layout-page">
    <br />
    <br />
    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Agregar Tour</h1>
    <div class="ms-4 me-4 mt-4 mb-4">
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                <div class="col">
                    <div class="card m-2" style="background-color: whitesmoke;border: 3px solid gray;">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(40, 180, 99);"></h6>
                            </div>
                            <div>
                                <form asp-action="Crear" method="post" enctype="multipart/form-data">
                                    <div>
                                        <input type="file" name="ImagenBase64" placeholder="Seleccione un archivo"
                                               class="form-control-file" accept="image/*">
                                    </div>
                                    <div>
                                        <label asp-for="Nombre">Nombre del Tour</label>
                                        <input asp-for="Nombre" placeholder="Nombre del Tour" class="form-control" />
                                        <span asp-validation-for="Nombre" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Itinerario" class="form-label">Itinerario del tour</label>
                                        <textarea asp-for="Itinerario" placeholder="Itinerario del tour"
                                            class="form-control"></textarea>
                                        <span asp-validation-for="Itinerario" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Precio" class="form-label">Precio del tour</label>
                                        <input asp-for="Precio" placeholder="Precio del tour" class="form-control" />
                                        <span asp-validation-for="Precio" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Descripcion" class="form-label">Descripción del tour</label>
                                        <textarea asp-for="Descripcion" placeholder="Descripción del tour"
                                            class="form-control"></textarea>
                                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Disponibilidad" class="form-label">Disponibilidad del
                                            tour</label>
                                        <select asp-for="Disponibilidad" class="form-control">
                                            <option>Mañana</option>
                                            <option>Tarde</option>
                                        </select>
                                        <span asp-validation-for="Disponibilidad" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Idioma">Idioma del Tour</label>
                                        <input asp-for="Idioma" placeholder="Idioma del Tour" class="form-control" />
                                        <span asp-validation-for="Idioma" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Categoria1" class="form-label">Categoría 1</label>
                                        <select asp-for="Categoria1" class="form-control">
                                            <option value="">Seleccione una categoría</option>
                                            @foreach (var categoria in ViewBag.Categorias)
                                            {
                                                <option value="@categoria.IDCategorias">@categoria.NombreCategoria</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Categoria1" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Categoria2" class="form-label">Categoría 2</label>
                                        <select asp-for="Categoria2" class="form-control">
                                            <option value="">Seleccione una categoría</option>
                                            @foreach (var categoria in ViewBag.Categorias)
                                            {
                                                <option value="@categoria.IDCategorias">@categoria.NombreCategoria</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Categoria2" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Categoria3" class="form-label">Categoría 3</label>
                                        <select asp-for="Categoria3" class="form-control">
                                            <option value="">Seleccione una categoría</option>
                                            @foreach (var categoria in ViewBag.Categorias)
                                            {
                                                <option value="@categoria.IDCategorias">@categoria.NombreCategoria</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Categoria3" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Categoria4" class="form-label">Categoría 4</label>
                                        <select asp-for="Categoria4" class="form-control">
                                            <option value="">Seleccione una categoría</option>
                                            @foreach (var categoria in ViewBag.Categorias)
                                            {
                                                <option value="@categoria.IDCategorias">@categoria.NombreCategoria</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Categoria4" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Caracteristica1" class="form-label">Característica 1</label>
                                        <select asp-for="Caracteristica1" class="form-control">
                                            <option value="">Seleccione una característica</option>
                                            @foreach (var caracteristica in ViewBag.Caracteristicas)
                                            {
                                                <option value="@caracteristica.IDCaracteristicas">@caracteristica.NombreCaracteristica</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Caracteristica1" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Caracteristica2" class="form-label">Característica 2</label>
                                        <select asp-for="Caracteristica2" class="form-control">
                                            <option value="">Seleccione una característica</option>
                                            @foreach (var caracteristica in ViewBag.Caracteristicas)
                                            {
                                                <option value="@caracteristica.IDCaracteristicas">@caracteristica.NombreCaracteristica</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Caracteristica2" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Caracteristica3" class="form-label">Característica 3</label>
                                        <select asp-for="Caracteristica3" class="form-control">
                                            <option value="">Seleccione una característica</option>
                                            @foreach (var caracteristica in ViewBag.Caracteristicas)
                                            {
                                                <option value="@caracteristica.IDCaracteristicas">@caracteristica.NombreCaracteristica</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Caracteristica3" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Estatus" class="form-label">Estatus del Tour</label>
                                        <input asp-for="Estatus" placeholder="Estatus del Tour" class="form-control" />
                                        <span asp-validation-for="Estatus" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="PrecioAdulto" class="form-label">Precio adulto del Tour</label>
                                        <input asp-for="PrecioAdulto" placeholder="Precio adulto del Tour"
                                            class="form-control" />
                                        <span asp-validation-for="PrecioAdulto" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="PrecioInfantes" class="form-label">Precio infante del
                                            Tour</label>
                                        <input asp-for="PrecioInfantes" placeholder="Precio infante del Tour"
                                            class="form-control" />
                                        <span asp-validation-for="PrecioInfantes" class="text-danger"></span>
                                    </div>
                                    &ensp;
                                    <div class="d-flex justify-content-end">
                                        <input type="submit" value="Registrar tour" class="btn btn-success btn-md" />
                                        &ensp;
                                        <a asp-action="Index" class="btn btn-primary btn-md">Volver al listado</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
