@model DreamyReefs.Models.Tours

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>A World</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="~/css/Container.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/css/Cards.css">

</head>

<body>
    <br />
    <br />
    <br />
    <br />
    <div class="card_section layout_padding">
        <div class="container4">
            <div class="row">
                <div class="col-md-8">
                    <article class="blog-post">
                        <div class="blog-post_info">
                            <h2 class="blog-post_title">Nombre</h2>
                            <h1 class="card-title" style="text-align: justify;">@Model.Nombre</h1>
                            <br />
                            <h3 class="blog-post_subtitle">Descripción</h3>
                            <h5 class="card-title" style="text-align: justify;">@Model.Descripcion</h5>
                            <br />
                            <h3 class="blog-post_subtitle">Itinerario</h3>
                            <h5 class="card-title" style="text-align: justify;">@Model.Itinerario</h5>
                            <h3 class="blog-post_subtitle">Precios</h3>
                            <ul>
                                <li>
                                    <h3 class="card-title" style="text-align: justify;">Precio del Tour: $@Model.Precio
                                    </h3>
                                </li>
                                <li>
                                    <h3 class="card-title" style="text-align: justify;">Adultos: $@Model.PrecioAdulto
                                    </h3>
                                </li>
                                <li>
                                    <h3 class="card-title" style="text-align: justify;">Niños: $@Model.PrecioInfantes
                                    </h3>
                                </li>
                            </ul>
                            <h3 class="blog-post_subtitle">Detalles</h3>
                            <ul>
                                <li>
                                    <h3 class="card-title" style="text-align: justify;">Hora: @Model.Disponibilidad</h3>
                                </li>
                                <li>
                                    <h3 class="card-title" style="text-align: justify;">Idioma: @Model.Idioma</h3>
                                </li>
                            </ul>
                            <h3 class="blog-post_subtitle">Caracteristicas</h3>
                            <ul class="lista-estilizada">
                                <li>
                                    <h3 class="InformacionExtra" style="text-align: justify;">@ViewBag.Caracteristica1
                                    </h3>
                                </li>
                                <li>
                                    <h3 class="InformacionExtra" style="text-align: justify;">@ViewBag.Caracteristica2
                                    </h3>
                                </li>
                                <li>
                                    <h3 class="InformacionExtra" style="text-align: justify;">@ViewBag.Caracteristica3
                                    </h3>
                                </li>
                            </ul>

                            <h3 class="blog-post_subtitle">Categorias</h3>
                            <ul class="lista-estilizada">
                                <li>
                                    <h3 class="InformacionExtra" style="text-align: justify;">@ViewBag.categoria1</h3>
                                </li>
                                <li>
                                    <h3 class="InformacionExtra" style="text-align: justify;">@ViewBag.categoria2</h3>
                                </li>
                                <li>
                                    <h3 class="InformacionExtra" style="text-align: justify;">@ViewBag.categoria3</h3>
                                </li>
                                <li>
                                    <h3 class="InformacionExtra" style="text-align: justify;">@ViewBag.categoria4</h3>
                                </li>
                            </ul>

                            <h3 class="blog-post_subtitle">Punto de encuentro</h3>
                            <div class="map-responsive">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d934.2179473235187!2d-86.95137662430523!3d20.511481451835845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4e597c18e4fb19%3A0xb16db156c2af8610!2scooperativa%20eco%20turistica%20nautica%20isla%20cozumel!5e0!3m2!1ses-419!2smx!4v1686202384935!5m2!1ses-419!2smx"
                                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <form asp-controller="Tour" asp-action="CrearPDF" method="post">
                                    <center>
                                        <h4 class="InformacionExtra" style="text-align: center; color: deepskyblue">
                                            Hacer una reservacion</h4>
                                    </center>
                                    &ensp;
                                    <div>
                                        <label for="NombreCompleto">Nombre</label>
                                        <input name="NombreCompleto" placeholder="Nombre Completo"
                                            class="form-control" />
                                        @*<span asp-validation-for="Usuario"
                                        class="text-danger"></span>*@
                                    </div>
                                    <div>
                                        <label for="Telefono" class="form-label">Telefono</label>
                                        <input name="Telefono" placeholder="Telefono" class="form-control" />
                                        @*<span asp-validation-for="Nombre"
                                        class="text-danger"></span>*@
                                    </div>
                                    <div>
                                        <label for="Email" class="form-label">Correo</label>
                                        <input name="Email" placeholder="Correo electrónico" class="form-control" />
                                        @*<span asp-validation-for="Correo"
                                        class="text-danger"></span>*@
                                    </div>
                                    <div>
                                        <label for="Adultos" class="form-label">N° de adultos</label>
                                        <input name="Adultos" placeholder="Numero de Adultos" class="form-control" />
                                        @*<span asp-validation-for="Contrasena"
                                        class="text-danger"></span>*@
                                    </div>
                                    <div>
                                        <label for="Niños" class="form-label">N° de niños</label>
                                        <input name="Ninos" placeholder="Numero de Niños" class="form-control" />
                                        @*<span asp-validation-for="Contrasena"
                                        class="text-danger"></span>*@
                                    </div>
                                    <input type="hidden" name="ID" value="@Model.IDTours" />
                                    <!-- Agregar el campo oculto para la ID -->
                                    &ensp;
                                    <div class="d-flex justify-content-center">
                                        <input type="submit" value="Hacer reservacion" class="btn btn-success btn-md" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    &ensp;
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <form asp-controller="Tour" asp-action="CrearOpinion" method="post">
                                    <center>
                                        <h4 class="InformacionExtra" style="text-align: center; color: deepskyblue">
                                            Cuentanos tu experiencia!</h4>
                                    </center>
                                    &ensp;
                                    <div>
                                        <input class="form-control" type="hidden" name="IDTour"
                                            value="@Model.IDTours" />
                                        @* <span asp-validation-for="Nombre"
                                        class="text-danger"></span> *@
                                    </div>
                                    <div>
                                        <label for="Comentario" class="form-label">Opinion</label>
                                        <textarea name="Comentario" placeholder="Escribe tu opinion"
                                            class="form-control"></textarea>
                                        @* <span asp-validation-for="Comentario"
                                        class="text-danger"></span> *@
                                    </div>
                                    &ensp;
                                    <div class="d-flex justify-content-center">
                                        <input type="submit" value="Hacer reservacion" class="btn btn-success btn-md" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    &ensp;
                    <div class="d-flex justify-content-center">
                        <a asp-action="Index2" class="btn btn-primary btn-md">Volver al listado</a>
                    </div>
                </div>
            </div>
        </div>
        <br />

    </div>

    <!-- Javascript files-->
    @* <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- javascript -->
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/style.js"></script>
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/jquery-confirm.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script> *@

</body>

</html>
