@{
    ViewData["Title"] = "Empresas";
    Layout = "_LayoutSitioGestion";
    List<Empresa> listEmpresa = Model;
}

@if (Model == null || Model.Count == 0)
{
    <div class="layout-page">
        <br />
        <br />
        <div class="row justify-content-center">
            
            <div class="col-md-8 ">
                <div class="card">
                    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">No hay Empresas para mostrar</h1>                  
                </div>
            </div>
        </div>
    </div>
}
else
{
<div class="layout-page">
    <br />
    <br />
    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Empresas</h1>
    <div class="d-flex justify-content-center">
        <a class="col col-2 btn btn-success d-grid" asp-action="Crear">Agregar</a>
    </div>
    <div class="ms-4 me-4 mt-4 mb-4">
        <div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1000">
                @foreach (var empresas in Model)
                {
                <div class="col-sm-6 col-md-4">
                    <div class="card m-2">
                        <div class="card-body">
                            @* <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(40, 180, 99);">Activo</h6>
                            </div> *@
                            <div>
                                <h5 class="card-title">@empresas.NombreEmpresa</h5>
                                <h6 class="fw-normal">@empresas.RFC</h6>
                                <h6 class="fw-normal" style="font-size: 14px;">@empresas.Correo</h6>
                                <h6 class="fw-normal" style="font-size: 14px;">@empresas.Direccion</h6>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a type="button" class="btn btn-warning text-white btn-modify" asp-action="Actualizar" asp-route-id="@empresas.IDEmpresas">Modificar</a>
                                &nbsp;
                                        <button type="button" class="btn btn-danger text-white btn-delete" onclick="eliminarEmpresas(@empresas.IDEmpresas)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
            &nbsp;
        </div>
    </div>
</div>

}
