@{
    ViewData["Title"] = "Reservaciones";
    Layout = "_LayoutSitioGestion";
    List<Reservacion> listaReservaciones = Model;
}

@if (Model == null || Model.Count == 0)
{
    <div class="layout-page">
        <br />
        <br />
        <div class="row justify-content-center">
            
            <div class="col-md-8 ">
                <div class="card">
                    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">No hay Reservaciones para mostrar</h1>                  
                </div>
            </div>
        </div>
    </div>
}
else
{
   <div class="layout-page">
    <br />
    <br />
    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Reservaciones</h1>
    <div class="d-flex justify-content-center">
        <a class="col col-2 btn btn-primary d-grid" asp-action="Crear">Agregar</a>
    </div>
    <div class="ms-4 me-4 mt-4 mb-4">
        <div class="row" data-aos="fade-up" data-aos-duration="1000">
            @foreach (var reservaciones in Model)
            {
            <div class="col-sm-6">
                <div class="card m-2">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            @if (reservaciones.Estatus == "Concluido")
                            {
                                <h3 class="fw-medium" style="color: rgb(40, 180, 99);">@reservaciones.Estatus</h3>
                            }
                            else if (reservaciones.Estatus == "Pendiente")
                            {
                                <h3 class="fw-medium" style="color: rgb(255, 119, 0);">@reservaciones.Estatus</h3>
                            }
                            else if (reservaciones.Estatus == "Cancelado")
                            {
                                <h3 class="fw-medium" style="color: rgb(224, 36, 36);">@reservaciones.Estatus</h3>
                            }
                        </div>
                        
                        <div>
                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Nombre:</label>
                                <h3 class="card-title" style="display: inline-block;">@reservaciones.NombreCompleto</h3>
                            </div>

                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Telefono:</label>
                                <h3 class="card-title" style="display: inline-block;">@reservaciones.Telefono</h3>
                            </div>

                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Correo:</label>
                                <h3 class="card-title" style="display: inline-block;">@reservaciones.Email</h3>
                            </div>

                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Adultos:</label>
                                <h3 class="fw-normal" style="display: inline-block;">@reservaciones.Adultos</h3>
  
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Niños:</label>
                                <h3 class="fw-normal" style="display: inline-block;">@reservaciones.Infantes</h3>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <a type="button" class="btn btn-warning text-white btn-modify" asp-action="Actualizar" asp-route-id="@reservaciones.IDReservaciones">Modificar</a>
                                &nbsp;
                            <a type="button" class="btn btn-danger text-white btn-delete" asp-action="Eliminar" asp-route-id="@reservaciones.IDReservaciones">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div> 
}
