@{
    ViewData["Title"] = "Usuarios";
    Layout = "_LayoutSitioGestion";
    List<AccesoWeb> listaAccesoWeb = Model;
}

@if (Model == null || Model.Count == 0)
{
    <div class="layout-page">
        <br />
        <br />
        <div class="row justify-content-center">
            
            <div class="col-md-8 ">
                <div class="card">
                    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">No hay Usuarios para mostrar</h1>                  
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="layout-page">
        <br />
        <br />
        <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Usuarios</h1>
        <div class="d-flex justify-content-center">
            <a class="col col-2 btn btn-success d-grid" asp-action="Crear">Agregar</a>
        </div>
        <div class="ms-4 me-4 mt-4 mb-4">
            <div data-aos="fade-up" data-aos-duration="1000">
                <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                    <div class="col">
                        @foreach (var accesosweb in Model)
                        {
                            <div class="card m-2">
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        @if (accesosweb.Estatus == "Activo")
                                        {
                                            <h6 class="fw-medium" style="color: rgb(40, 180, 99);">@accesosweb.Estatus</h6>
                                        }
                                        else if (accesosweb.Estatus == "Inactivo")
                                        {
                                            <h6 class="fw-medium" style="color: rgb(180, 40, 40, 0.793);">@accesosweb.Estatus</h6>
                                        }
                                    </div>

                                    <div>
                                        <div>
                                            <label style="font-size: medium; font-weight: bold; display: inline-block;">Usuario:</label>
                                            <h3 class="card-title" style="display: inline-block;">@accesosweb.Usuario</h3>
                                        </div>

                                        <div>
                                            <label style="font-size: medium; font-weight: bold; display: inline-block;">Correo:</label>
                                            <h3 class="card-title" style="display: inline-block;">@accesosweb.Correo</h3>
                                        </div>

                                        <div>
                                            <label style="font-size: medium; font-weight: bold; display: inline-block;">Contraseña:</label>
                                            <h3 class="card-title" style="display: inline-block;">@accesosweb.Contrasena</h3>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <a type="button" class="btn btn-warning text-white btn-modify" asp-action="Actualizar" asp-route-id="@accesosweb.IDAccesoWeb">Modificar</a>
                                        &nbsp;
                                        <a type="button" class="btn btn-danger text-white btn-delete" asp-action="Eliminar" asp-route-id="@accesosweb.IDAccesoWeb">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}